@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Italic_Raleway;
  src: url(fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  background-color: white;
  color: white;
  position: relative;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  z-index: 15;
  right: 1vw;
}

.hamburger svg {
  transition: transform 0.3s ease;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -20vw;
  width: 20vw;
  height: 100%;
  background-color: rgba(237, 234, 234, 0.8);
  padding-top: 10vh;
  transition: right 0.3s ease;
  z-index: 5;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 3vh 5vw;
}

.side-menu ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
}

.side-menu.open {
  right: 0;
}

.hamburger.open svg {
  transform: rotate(-90deg);
}

#cop_background {
  background-image: url(/images/3bowls.webp);
  background-size: cover;
  background-position: center;
  height: 50vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.Contact-form-container {
  max-width: 100%;
  width: 90vw;
  margin: 5% auto;
  padding: 5vw;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-form-container h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  margin-bottom: 5vh;
  font-family: Italic_Raleway, sans-serif;
  color: #333;
}

.Contact-form-container label {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-bottom: 1vh;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1vh;
  margin-bottom: 2vh;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}

.Contact-form-container input,
.Contact-form-container textarea {
  width: 100%;
  padding: 2vh;
  margin-bottom: 5vh;
  border: 1px solid #ddd;
  border-radius: 1vw;
  font-size: 1rem;
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}

.Contact-form-container input:focus,
.Contact-form-container textarea:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select {
  appearance: none;
  background-color: #fff;
  color: #333;
}

.Submit-Button {
  display: inline-block;
  padding: 2vh 5vw;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  border: 0.3rem solid rgb(70, 130, 252);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  margin-top: 2vh;
}

.Submit-Button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(70, 130, 252);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.Submit-Button:hover::before {
  transform: translateX(0);
}
