@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: Italic_Raleway;
  src: url(fonts/Raleway/static/Raleway-Italic) format("truetype");
  font-style: italic;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
  background-color: beige;
}

header {
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header button {
  height: 2rem;
  border: none;
  background: none;
}

#lp_background {
  background-image: url(/images/bowl.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#lp_background h1 {
  color: transparent;
  font-size: 25rem;
  font-weight: 700;
  background-image: url(/images/text2.jpg);
  background-size: cover;
  background-clip: text;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.container h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

#menu_picker {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 0.1rem;
}

.menu_button_background {
  display: flex;
  align-items: flex-end;
  border-radius: 0.5rem;
  height: 75vh;
  width: 27vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 8px rgba(255, 255, 255, 0.2);
}

@keyframes scaleAndShadow {
  0% {
    scale: 1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
  100% {
    scale: 1.1;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  }
}

.menu_button_background:hover {
  animation: scaleAndShadow 0.8s forwards;
}

.interactable {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 120vh;
  width: 27vw;
  position: absolute;
  top: 0%;
  overflow: visible;
  cursor: pointer;
}

.menu_button {
  display: flex;
  height: 35vh;
  width: 27.5vw;
  background-color: linear_gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.8)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  justify-content: center;
  align-items: center;
  color: beige;
  font-size: 4rem;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}

@keyframes glassBackgroundAppear {
  0% {
    top: 0%;
  }
  100% {
    top: -50%;
  }
}

.interactable:hover {
  animation: glassBackgroundAppear 0.6s forwards;
}

#entree_menu {
  background-image: url("/images/entree.webp");
}

#poke_menu {
  background-image: url("/images/poke.webp");
}

#drinks_menu {
  background-image: url("/images/drinks.webp");
}

.column {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  flex-grow: 1;
  flex-basis: 0;
}

#logo {
  margin: 0 2rem;
}

#text-column p {
  margin: 0.25rem;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: whitesmoke;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 2rem;
}

.column ul {
  list-style-type: none;
}

li {
  color: gray;
  font-family: Italic_Raleway, sans-serif;
  font-style: italic;
}
